- case purchases_active_page
- when 'purchase'
  - breadcrumb :purchase
- when 'purchased'
  - breadcrumb :purchased

= render 'items/header_guide'
= render 'shared/breadcrumbs'

%main.mypage-container.clearfix
  .content
    = render partial: 'users/purchases/main_purchase', locals: { items: @items }

  = render 'users/mypage/side'
  = render 'items/footer_btn'

= render 'items/footer'